# Example C:/Users/USER_NAME/AppData/Local/Microsoft/Edge/User Data/
# If empty use crawler browser
PERSISTENT_BROWSER=""

# Amazon Gaming login email
# required only not logged
# after first login state saved in `current-state.json`
USER_LOGIN=""

# Amazon Gaming login password
# required only not logged
USER_PASSWORD=""

# 1 Not open browser - 0 Open browser
HEADLESS=1